body {
    background-color: #D2D2D2;
    font: 11px Verdana;
    color: #696969
}
#wrapper {
    width: 650px;
    margin: 30px auto;
    background-color: #F4F4F4;
}
#header {
    height: 75px;
    background-image: url(../academy/redheader.png);
}
#content {
    padding: 20px 30px;
}
#new {
    position:absolute;
    top: 0;
    left: 0;
}
#container {
    position:absolute;
    width: 300px;
    height: 230px;
    background-color: #D7D8B2;
    top: -100px;
    right: 0;
}