body {
    font-family: 'PT Sans', sans-serif;
    padding-bottom: 20px;

}
/*
ul, li {
    display: block;
    padding:0;
    margin: 0;
}*/

h1 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 8px;
    padding-bottom: 5px;

}

/*Первый экран*/
.header {
    padding-top: 25px;
    padding-bottom: 40px;
}
.item a {
    font-size: 20px;
    font-weight: 400;
    color: #000;

}
.table td {
    border-top: 0;
}

/*.menu {
    margin-top: 5px;
}
.menu__item {
    margin: 0 57px;
}*/

.line {
    border-bottom-color: black; /* Цвет линии слева */
    border-bottom-style: solid; /* Стиль линии */
    border-bottom-width: 3px;  /* Толщина линии */
    padding-bottom: 5px;  /* Расстояние между линией и текстом */
}

.text {
    margin-left: 8px;
    margin-bottom: 5px;
}
.far {
    margin-left: 5px;
    margin-right: 5px;
}
.candidate {
    color: #000;

}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
    border-radius: 5px;
    margin-bottom: 1rem;
    margin-top: 1rem;

}
.fieldset {
    margin-top: 0.5rem;
}
.btn_onclick {
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
    min-width: 100px;
    min-height: 28px;
    margin-left: 80px;

}
.btn_onclick:hover {
    background-color: #555555;
    color: #fff;
    transition: all 0.3s ease;

}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}
label {
    width: 3rem;
    display: inline-block;
}

a:link {
    text-decoration: none;
}
.btn_reset {
    cursor: pointer;
    border-radius: 5px;
    min-width: 100px;
    min-height: 28px;

}
.btn_reset:hover {
    background-color: #555555;
    color: #fff;
    transition: all 0.3s ease;

}
.btn_submit {
    cursor: pointer;
    border-radius: 5px;
    min-width: 100px;
    min-height: 28px;
    margin-left: 55px;

    
}
.btn_submit:hover {
     background-color: #555555;
     color: #fff;
     transition: all 0.3s ease;
 }

.one, .two, .three {
    margin-left: 20px;
}
.users_list {
    margin-left:20px;
    margin-top: 28px;
    margin-bottom: 40px;
}

select {
    padding: 2px 3px;
}