body {
    font-family: 'PT Sans', sans-serif;
    padding-bottom: 20px;

}
ul, li {
    display: block;
    padding:0;
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 30px;
}

/*Первый экран*/
.header {
    padding-top: 25px;
    padding-bottom: 40px;
}
.table td {
    border-top: 0;
}
.menu {
    margin-top: 5px;
}
.menu__item {
    margin: 0 57px; /*Раздвинули пункты меню*/

}
.menu__item a {
    font-size: 20px;
    font-weight: 400;
    color: #000;

}
.line {
    border-bottom-color: black; /* Цвет линии слева */
    border-bottom-style: solid; /* Стиль линии */
    border-bottom-width: 3px;  /* Толщина линии */
    padding-bottom: 5px;  /* Расстояние между линией и текстом */
}

/*.text {
    margin-left: 8px;
    margin-bottom: 5px;
}*/
.far {
    margin-left: 5px;
    margin-right: 5px;
}
/*table {

    border: solid 1px black;

}*/
td {
    border: 0;

    /*margin: 5px 10px 5px 0px;*/

}


legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
    border-radius: 3px;

}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}
