body {
    font-family: 'PT Sans', sans-serif;
    padding-bottom: 20px;

}


h1 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 8px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;

}

/*Первый экран*/
.header {
    padding-top: 25px;
    padding-bottom: 40px;
}
.item a {
    font-size: 20px;
    font-weight: 400;
    color: #000;

}
.table td {
    border-top: 0;

}
tr {
    text-align: left;
}



.line {
    border-bottom-color: black; /* Цвет линии слева */
    border-bottom-style: solid; /* Стиль линии */
    border-bottom-width: 3px;  /* Толщина линии */
    padding-bottom: 5px;  /* Расстояние между линией и текстом */
}

.text {
    margin-left: 8px;
    margin-bottom: 5px;
}
.far {
    margin-left: 5px;
    margin-right: 5px;
}
.candidate {
    color: #000;

}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 23px;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 18px;
    max-width: 270px;

}
.fieldset {
    margin-top: 1.5rem;
}
.btn_onclick {
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
    min-width: 100px;
    min-height: 28px;
    margin-left: 80px;

}
.btn_onclick:hover {
    background-color: #555555;
    color: #fff;
    transition: all 0.3s ease;

}

.output {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}
label {
    width: 3rem;
    /*display: inline-block;*/
}

a:link {
    text-decoration: none;
}
.btn_reset {
    cursor: pointer;
    border-radius: 5px;
    min-width: 100px;
    min-height: 28px;

}
.btn_reset:hover {
    background-color: #555555;
    color: #fff;
    transition: all 0.3s ease;

}
.btn_submit {
    cursor: pointer;
    border-radius: 5px;
    min-width: 100px;
    min-height: 28px;
    margin-left: 55px;

    
}
.btn_submit:hover {
     background-color: #555555;
     color: #fff;
     transition: all 0.3s ease;
 }

.one, .two, .three {
    margin-left: 20px;
}
.users_list {
    margin-left:20px;
    margin-top: 28px;
    margin-bottom: 40px;
}

#users_list {
    padding: 2px 3px;
}

/*#inputDate {
    margin-left: 20px;
    max-width: 200px;

}
#inputDate2 {
    margin-left: 20px;
    max-width: 200px;

}*/


#custom-select {
    margin-left: 3px;
    margin-right: 3px;
}
#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: red;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */

}
.text:before {
    content: "-";
}
.collapse:before {
    content: "+";
}
