body
{
    font-family: 'Open Sans', sans-serif !important;
}
.header {
    height: 123px;
    background: white;
}
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    height: 123px;
    background: #F5F5F5;
    padding: 5px;
}
.img1 {
    padding-top: 10px;
    width: 75px;
    float: left;
}
.ls-title {
    font-size: 25px;
    line-height: 1.5;
}

.textContainer  {
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
}
.ls-btn {
    height: 41px;
    width: 150px;
    background-color: orange;
    border: 0;
    border-radius: 20px;
}
.ls-btn-small {
    background-color: #fff;
    color: white;
    width: 40px;
    left: -155px;
    position: relative;
}
.ls-buttom {
    margin-top: 5px;
    font-size: 15px;

}
.ls-phone {
    display: inline-block;
    font-size: 16px;

}
.menu li {
    display: inline;
    text-transform: uppercase;
    margin-left: 0;
    margin-right: 41px;
    margin-top: 17px;
}
.menu li a:hover {
    color:red;
    text-decoration: none;
    cursor: pointer;
}

.menu li a{
    color:white;
}
.menu ul {
    padding-left: 20px;
}
.menu {
    color: white;
    width: 100%;
    height: 60px;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 4px;
}
.ls-menu-wrapper {
    background: black;
}
h1,h2 {
    text-align: center;
    line-height: 1.5;


}

.ls-note {
    display: inline-block;
    line-height: 1.5;
    width: 650px;
    height: 175px;
    text-align: center;
    border: 3px dotted gray;
    margin: 35px;
    font-size: 20px;
    padding: 20px;
    position: relative;
    left: 80px;
    bottom: 40px;

}
.ls-span {
    color: orange;
    font-size: 16px;
}
.ls-price-title {
    color: orange;
    text-decoration: underline;
    text-align: left;
    font-size: 16px;

}
.ls-price-number {
    /*color: orange;*/
    text-decoration: none;
    text-align: right;
    font-size: 16px;
}
.ls-price-number li{
    list-style-type: none;
}
.work {
    width: 1280px;
    height: 853px;
    background: #F0F0F0;
    margin: 0 auto;
    padding: 40px 139px 80px;
}
.ls-delimiter {
    padding-top: 40px;
}
.ls-circle {
    width: 105px;
    height: 105px;
    background: white;
    border: 2px dotted orange;
    border-radius: 60px;
    padding-right: 10px;


}
.ls-circle-img {
    width: 60px;
    position: relative;
    left: 20px;
    bottom: -22px;

}
.ls-repairer {
    width: 317px;
    height: 605px;
    background: white;
    border: 2px dotted orange;
    border-radius: 5px;
    position: relative;
    top: -442px;
    left: 655px;



}
.ls-text {
    text-transform: uppercase;
    font-size: 19px;
    text-align: center;
    padding-top: 45px;
}
.ls-male-img {
    width: 330px;
    position: relative;
    top: 33px;
    left: 5px;
}