body
{
    font-family: 'Open Sans', sans-serif !important;
}
.header {
    height: 123px;
    background: white;
}
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    height: 123px;
    /*background: #F5F5F5;*/
    padding: 5px;
}
.img1 {
    padding-top: 10px;
    width: 75px;
    float: left;
}
.ls-title {
    font-size: 25px;
    line-height: 1.5;
}
.ls-container {
    max-width: 1000px;
    margin: 0 auto;
}
.textContainer  {
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
}
.ls-btn {
    height: 41px;
    width: 170px;
    color: white;
    font-size: 13px;
    padding-left: 23px;
    background-color: orange;
    border: 0;
    border-radius: 20px;


}
.ls-btn-small {
    background-color: #fff;
    width: 40px;
    left: -178px;
    position: relative;
}


.ls-top, .ls-bottom {
    margin-top: 5px;
    margin-bottom: 5px;



}
.ls-phone {
    display: inline-block;
    font-size: 17px;

}
.menu li {
    display: inline;
    text-transform: uppercase;
    margin-left: 0;
    margin-right: 41px;
    margin-top: 17px;
}
.menu li a:hover {
    color:red;
    text-decoration: none;
    cursor: pointer;
}

.menu li a{
    color:white;
}
.menu ul {
    padding-left: 20px;
}
.menu {
    color: white;
    width: 100%;
    height: 60px;
    text-align: center;
    padding-top: 14px;
    padding-bottom: 4px;
}
.ls-menu-wrapper {
    background: black;
}
h1,h2 {
    text-align: center;
    line-height: 1.5;



}

.ls-note {
    display: inline-block;
    background: white;
    line-height: 1.5;
    width: 650px;
    height: 175px;
    text-align: center;
    border: 3px dotted orange;
    border-radius: 5px;
    margin: 35px;
    font-size: 20px;
    padding: 20px;
    position: relative;
    left: 80px;
    bottom: 40px;

}
.ls-span {
    color: orange;
    font-size: 16px;
}
.ls-price-title {
    color: orange;
    text-decoration: underline;
    text-align: left;
    font-size: 16px;

}
.ls-price-number {
    /*color: orange;*/
    text-decoration: none;
    text-align: right;
    font-size: 16px;
}
.ls-price-number li{
    list-style-type: none;
}
.work {
    width: 100%;
    height: 853px;
    background: #F0F0F0;
    margin: 0 auto;
    padding: 40px 139px 80px;
}
.ls-delimiter {
    padding-top: 40px;
}
.ls-circle {
    width: 105px;
    height: 105px;
    background: white;
    border: 2px dotted orange;
    border-radius: 60px;
    padding-right: 10px;


}
.ls-circle-img {
    width: 60px;
    position: relative;
    left: 20px;
    bottom: -22px;

}
.ls-repairer {
    width: 317px;
    height: 605px;
    background: white;
    border: 3px dotted orange;
    border-radius: 5px;
    position: relative;
    top: -555px;
    left: 685px;



}
.ls-text {
    text-transform: uppercase;
    font-size: 19px;
    text-align: center;
    padding-top: 45px;
}
.ls-male-img {
    width: 330px;
    position: relative;
    top: 33px;
    left: 5px;
}
.ls-price-title-table td:nth-child(1){
    color: orange;
    text-decoration: underline;
    text-align: left;
    font-size: 16px;
}
.ls-price-title-table td:nth-child(2){
    text-align: right;
    font-size: 16px;
}
.ls-price-block li{
    line-height: 30px;
}
.ls-price-title-table table{
    width: 100%;
}
.ls-sale {
    width: 100%;
    margin: 10px  145px;

}
.ls-text-sale {
    /*position: relative;*/
    /*left: 40px;*/
    /*bottom: -280px;*/
    text-transform: uppercase;
    font-size: 27px;
    color: white;
    line-height: 1.7;

}
.hot-sale {

    color: white;
    background: #FFA500;
    font-size: 40px;
    position: relative;
    top: 27px;
    left: 0;
    width: 150px;
    height: 60px;
    border-radius: 5px;
    display: inline-block;
    -o-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(-15deg);

}
.number {
    position: relative;
    top: 27px;
    left: 0;
    text-align: center;

}

.ls-sale-row {
    background: url("img/sale.png");
    width: 1000px;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 67px;
    margin: 0 auto;


}
.ls-gradient {
    background: linear-gradient(to bottom, white, #F0F0F0);
}
.ls-review {
    width: 100%;
    background: #F8F8F8;
    height: 970px;
    margin-top: 70px;
}
.ls-paragraph {
    margin-top: 40px;

}
.ls-container h2 {
    padding-top: 60px;
    padding-bottom: 50px;
}
.pink-1, .pink-2 {
    background: #FEC8D6;
    width: 320px;
    height: 400px;
    border-radius: 5px;
    padding-top: 25px;
    padding-left: 10px;

    outline: 3px dotted #FF385C;
}
.blue {
    background: #C9EDFD;
    width: 320px;
    height: 400px;
    border-radius: 5px;
    padding-top: 25px;
    padding-left: 10px;

    outline: 3px dotted #1995E3;
    outline-offset: 7px;

}
.ls-name {
    width: 60px;
    padding-top: 6px;
}

